<div class="header-placeholder"></div>
<header class="bs-header text-center" id="overview">
  <div class="container">
    <h1>Angular Growl 2
    </h1>
    <p>Growl-like notifications for <a href="http://angularjs.org">AngularJS</a></p>
    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/JanStevens/angular-growl-2">
        <i class="icon-github"></i> Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/JanStevens/angular-growl-2/archive/master.zip">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.6.0)</small>
    </a>
    </p>
  </div>
  <div class="bs-social container">
    <ul class="bs-social-buttons">
      <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=JanStevens&amp;repo=angular-growl-2&amp;type=watch&amp;count=true&amp;size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>
      </li>
      <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=JanStevens&amp;repo=angular-growl-2&amp;type=fork&amp;count=true&amp;size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="152px" height="30px"></iframe>
      </li>
       <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=JanStevens&amp;repo=angular-growl-2&amp;type=follow&amp;count=true&amp;size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="30px"></iframe>
      </li>
    </ul>
  </div>
</header>
