 <script src="{{ site.baseurl }}_bower_components/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}_bower_components/bootstrap-sass/dist/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}_bower_components/angular/angular.min.js"></script>
    <script src="{{ site.baseurl }}_bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="{{ site.baseurl }}_bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="{{ site.baseurl }}_bower_components/angular-growl-v2/build/angular-growl.js"></script>
    <script src="{{ site.baseurl }}_bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- build:js({app,.tmp}) /coffee/script.js -->
    <script src="{{ site.baseurl }}coffee/main.js"></script>
    <!-- endbuild -->
    <script async src="//codepen.io/assets/embed/ei.js"></script>
  </body>
</html>
