<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css({app,.tmp}) /sass/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/bootstrap-sass/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_bower_components/angular-growl-v2/build/angular-growl.min.css">
    <link rel="stylesheet" href="/sass/syntax.css">
    <link rel="stylesheet" href="/sass/main.css">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /coffee/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
